doctype html 
html
    head 
        title Acordeon 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="index.css")
    body 
        header 
            h1 this element with CSS & HTML  
        main 
            .container--acordeon__general 
                .container--items__general 
                    .active
                        button#btn
                            span.btn#span
                    .block#block
                        p this is my text for the example 
                        a(href="") View more 
            
    script(src="script.js") 
